.image-container {
    height: 256px;
    width: 256px;
    align-items: center;
}

.datum-image {
    width: 100%;
}

.image-viewer-notification {
    height: 316.75px; /* height of .image-viewer-container - 24 */
    display: flex;
    align-items: center;
}
