data/**/*
data/
runs/
node_modules/*/*
node_modules/
**/*.pyc
**/*.eggs/
**/*.egg-info/
**/__pycache__/
.cache/
.idea/
.git/
.pytest_cache/
tox.ini
build/
dist/
venv/
.vscode/
caladrius.code-workspace
