* {
    box-sizing: border-box;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.map-before-image-container,
.map-after-image-container {
    margin: 5px;
    height: 280px;
    width: 280px;
    border: 2px solid black;
    align-items: center;
}

.map-container {
    height: 280px;
    width: 280px;
}
