#infoToolTipBox,
#countAvgTable {
    width: 300px;
    border-collapse: collapse;
}

#infoToolTipBox th,
#countAvgTable th {
    font-weight: bold;
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    padding: 10px;
}

#countAvgTable th:nth-child(2) {
    color: orange;
}

#countAvgTable th:nth-child(3) {
    color: purple;
}

#countAvgTable th:nth-child(4) {
    color: steelblue;
}

#infoToolTipBox td,
#countAvgTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #dee2e6;
}
